.header__lang-link {
  background: none;
  margin: 0;
  padding: 0 0 8px;
  border:0;
  opacity: 1;
  color: var(--color__text);

  text-decoration: none;
  text-underline-offset: 5px;
  transition: var(--transition);
}

.header__lang-link:hover {
  color: var(--color__text);
  opacity: .8;
  cursor: pointer;
}

/* .header__lang-link:visited {
  color: var(--color__text);
} */

.header__lang-link:focus {
  border: 0;
}

.header__lang-link:disabled {
  text-decoration: underline;
}

.header__lang-link:disabled:hover {
  opacity: 1;
  cursor: default;
}
