.page {
  max-width: 1440px;
  min-width: 320px;

  margin: 0 auto;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color__bg_dark);
  color: var(--color__text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
