.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 18px;
  font-size: var(--font-size__link_footer);
  line-height: var(--line-height__line);
  font-weight: var(--font-weight_reg);
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap:32px
  }
}
