.place__website {
  display: flex;
  position: relative;
  align-self: end;
  align-items: end;
  min-height: 46px;
  padding-top: calc(var(--font-size__list) + 12px);
  box-sizing: border-box;
}

.place__website::before {
  content: 'URL';
  position: absolute;
  top: 0;
  letter-spacing: 2px;
  color: var(--color__text_caption);
  font-size: var(--font-size__list);
  line-height: var(--line-height__line);
  font-weight: var(--font-weight_reg);
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 var(--padding__section);
  }
}
